 .mainBlock {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 400px;
     width: 400px;
     margin: 0 auto;
     background-color: rgb(47, 53, 53);
     border-radius: 25%;
 }

 .numbersBlock {
     display: flex;
     font-size: 140px;
     height: 30%;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
     color: #f5f5dc;
 }

 .buttonBlock {
     justify-content: center;
     display: flex;
     height: 70px;

 }

 .start {
     border-bottom-left-radius: 40%;
 }

 .reset {

     border-bottom-right-radius: 40%;
 }

 button {
    width:100px;
     background: linear-gradient(#f5f5dc, #2f3535);
 }