<div class="mainBlock">
    <div class="numbersBlock">
        <div class="minutesBlock">{{minutes}}</div>
        <div class="secondsBlock">:{{seconds}}</div>
    </div>
    <div class="buttonBlock">
        <button class="start" (click)=" startStopClick()">START/STOP</button>
        <!-- <button class="stop" (click)="stopTimer()">STOP</button> -->
        <button class="wait" (click)="doubleFunction()">WAIT</button>
        <button class="reset" (click)="resetTimer()">RESET</button>
    </div>

</div>